<!DOCTYPE html>
<html>

  {%- include head.html -%}

  <script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="/js/bigfoot.js"></script>
  <script type="text/javascript">
    var bigfoot = $.bigfoot(
      {
      actionOriginalFN: "ignore",
      positionContent: "true"
      }
    );
  </script>

  <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>

  <link rel="stylesheet" type="text/css" href="{{ "/css/style.css" | prepend: site.baseurl }}">
  
  <body class="hack dark">

    {% include github-ribbon.html %}

    <div class="container">
      <div class="grid">
        <aside class="cell -3of12" role="navigation">
          {% include navigation.html %}
        </aside>

        <main class="cell -9of12">
          {{ content | toc }}
        </main>

      </div>

    {% include footer.html %}

    </div>

    <!-- Prism.js -->
    <script src="https://npmcdn.com/prismjs@1.5.1/prism.js"></script>
  </body>

</html>
