<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="/js/bigfoot.min.js"></script>
  <script type="text/javascript">
    var bigfoot = $.bigfoot(
      {
      actionOriginalFN: "ignore",
      positionContent: "true"
      }
    );
  </script>

  <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>

  <link rel="stylesheet" type="text/css" href="{{ "/css/style.css" | prepend: site.baseurl }}">
  
  <body>

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content | toc }}
      </div>
    </main>

  </body>

</html>
